@mixin orderGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

@mixin display-info-list {
  padding: 1rem;
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  overflow-y: scroll;
}

@mixin display-info-header {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
}

@mixin item-detail-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}

@mixin item-detail-element {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 500;
}
