@mixin orderGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

@mixin display-info-list {
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  overflow-y: hidden;
  width: 100%;
}

@mixin display-info-header {
  padding: 0.7rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
}

@mixin item-detail-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
}

@mixin item-detail-element {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 0.9rem;
}

@mixin dashboard-list($grid) {
  &__info {
    // margin: 1.4rem 0 0 0;
    padding: 0.6rem 1rem;
    display: grid;
    grid-template-columns: $grid;
    border-bottom: 1px solid #ccc;
    font-weight: 500;
    font-size: 0.8rem;
    div {
      text-align: center;
    }
  }
  
  &__element {
    display: grid;
    grid-template-columns: $grid;
    padding: 0.6rem 1rem;
    border-bottom: 1px solid #ccc;
    font-size: 0.9rem;
    div {
      text-align: center;
    }
  }
  &__container{
    @include scrollbars(5px, #ccc, white);
    overflow-y: auto;
    height: 80%;
    padding-bottom: 0.5rem;
  }
}

@mixin order-detail-element($start-col, $end-col, $start-row, $end-row) {
  grid-column-start: $start-row;
  grid-column-end: $end-row;
  grid-row-start: $start-col;
  grid-row-end: $end-col;
  background-color: white;
  padding: 1rem;
  h1 {
    @include item-detail-header;
  }
  &--header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-weight: 500;
    margin-bottom: 1rem;
    div {
      text-align: center;
    }
  }
  &--info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    div {
      text-align: center;
    }
  }
}
@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%)
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
